*.exe
*.obj
*.dll
*.db
*.pyc
__pycache__/
*.keystore
*.apk
*.aab
/build/
/files/
/downloads/
*.enc
.DS_Store
.vs/
*.suo
*.user
*.zip
sdk/
jdk/
*.log
tokenized_dataset/
model-output/
tb_logs/
tb_logs/
.env
*.tmp
